/* btn */ 
.c-btn{
    display: block;
    max-width: 129px;
    width: 100%;
    line-height: 1;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    background: #4F77FF;
    color: #fff;
    font-size: ( 14px / $font-size) * 1rem;
}



// Desktop + Tablet
// --------------------------------------------------
@include media-breakpoint-pc-tab {
    .c-btn {
        transition: 0.3s all;
        &:hover{
            opacity: 0.7;
        }
    }
}