/* pagetitle */ 

.c-pagetitle {
    position: relative;
    &__image {
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        position: absolute;
        background: #b8b8b8 no-repeat center center;
        background-size: cover;
    }
    &__heading {
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: (26px / $font-size) * 1rem;
    }
}

// 2ndpage mainimg
body.news {
    .c-pagetitle {
        &__image{
            
        }
    }
}