/* title */ 

.c-heading1{
    font-size: ( 72px / $font-size) * 1rem;
    font-weight: bold;
    $color3: #2D3958;
    line-height: 78px;
    &.--fs1{
        font-size: ( 64px / $font-size) * 1rem;
        line-height: 72px;
    }
    &.--fs2{
        font-size: ( 56px / $font-size) * 1rem;
        line-height: 56px;
    }
    &.--fs3{
        font-size: ( 48px / $font-size) * 1rem;
        line-height: 56px;
    }
    &.--fs4{
        font-size: ( 28px / $font-size) * 1rem;
        line-height: 34px;
    }
    &.--fs5{
        font-size: ( 24px / $font-size) * 1rem;
        line-height: 34px;
    }
    &.--fs6{
        font-size: ( 22px / $font-size) * 1rem;
        line-height: 32px;
    }
    &.--fs7{
        font-size: ( 18px / $font-size) * 1rem;
        line-height: 28px;
    }
    &.--fs8{
        font-size: ( 16px / $font-size) * 1rem;
        line-height: 26px;
    }
    &.--fs9{
        font-size: ( 14px / $font-size) * 1rem;
        line-height: 24px;
    }
 }