/* title */ 

.c-heading1{
    font-size: ( 30px / $font-size) * 1rem;
    text-align: center;
    &::after {
        content: "";
        display: block;
        width: 100px;
        height: 3px;
        background-color: #000;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}