// color
$color1: #4F77FF;
$color2: #FFC0EC;
$color3: #2D3958;
$color4: #7B88A8;
$color5: #12022F;
$color5: #EF3737;
$color7: #FF9513;
$color8: #F9E492;
$color9: #001C7F;
$color10: #61DCDF;
$color11: #34C635;
$color12: #120F1F;

// border
$border1: 1px solid #E7E5EA;
$border2: 3px solid rgba(97, 119, 152, 0.2);
// Content Width
// -------------------------

$content-width--narrow:         1000px !default;
$content-width:                 1210px !default;
$content-width--wide:           1400px !default;


// Inner Padding
// -------------------------
$pd-x-pc:                       20px !default;
$pd-x-tab:                       20px !default;
$pd-x-sp:                       16px !default;


