<%- include('_config', { extend: {
	relativePath: '.',
	page: {
		id: 'index',
		title: 'TOPページ',
		description: 'TOPページです',
	}
}}); %><%- include('_header'); %>
				<section class="p-top__view">
					<div class="l-inner">
						
					</div>
				</section>
<%- include('_footer'); %>
